<body>
  <form action="http://media.cincygrace.com.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
    Key to upload:
    <input type="input" name="key" value="banners/test.png">
    <input type="hidden" name="AWSAccessKeyId" value="AKIAJYYDBHYQVFQ6BNAA">
    <input type="hidden" name="acl" value="public-read">
    <input type="hidden" name="success_action_redirect" value="http://localhost:5000/">
    Content-Type:
    <input type="input"  name="Content-Type" value="image/jpeg" /><br />
    <input type="text"   name="X-Amz-Credential" value="{{x-amz-credential}}" />
    <input type="text"   name="X-Amz-Algorithm" value="{{x-amz-algorithm}}" />
    <input type="text"   name="X-Amz-Date" value="{{x-amz-date}}" />

    <input type="hidden" name="policy" value="{{policy}}">
    <input type="hidden" name="Signature" value="{{x-amz-signature}}">
    <!-- Include any additional input fields here -->

    File to upload to S3:
    <input type="file"   name="file" /> <br />
    <br>
    <input type="submit" value="Upload File to Amazon  S3">
  </form>

</body>
